
obj/Debug/SimpleCalculator.exe
.vs/SimpleCalculator/v16/Server/sqlite3/storage.ide-wal
.vs/SimpleCalculator/v16/Server/sqlite3/db.lock
obj/Debug/SimpleCalculator.pdb
obj/Debug/SimpleCalculator.csprojAssemblyReference.cache
obj/Debug/SimpleCalculator.csproj.FileListAbsolute.txt
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
bin/Debug/SimpleCalculator.pdb
bin/Debug/SimpleCalculator.exe.config
bin/Debug/SimpleCalculator.exe
.vs/SimpleCalculator/v16/Server/sqlite3/storage.ide-shm
.vs/SimpleCalculator/v16/Server/sqlite3/storage.ide
SimpleCalculator.sln
.vs/SimpleCalculator/v16/.suo
.vs/SimpleCalculator/DesignTimeBuild/.dtbcache
.vs/SimpleCalculator/v16/TestStore/0/000-0000.testlog
.vs/SimpleCalculator/v16/TestStore/0/000-0000.testlog
.vs/SimpleCalculator/v16/TestStore/0/000-0000.testlog
.vs/SimpleCalculator/v16/.suo
